

.navbar {
  padding-top: 20px;
  padding-bottom: 0;
  
}

body    {

background-color:#dddddd;
}

#nameswitch {

display:block;



}

#name {

background-color: #007A33;
color:white;
font-family: 'Rouge Script', cursive;
font-size:25px;
padding: 20px 20px 20px 20px;
position:relative;
top:10px;

}

#lastname {
background-color: #007A33;
color:white;
font-family: 'Rouge Script', cursive;
font-size:25px;
padding:20px 33.5px 20px 33.5px;
position:relative;
top:10px;

}


.navbar {
  padding-top: 0;
  border-bottom: 1px;

}

.nav-link:hover {


color:white;

}

h1 {
color:#007A33;
font-family: 'Georgia', Times, Times New Roman, serif;
padding: 10px 0 0 0;


}
.faceimg-responsive {

   width: 100%;
   padding:  0 15px 15px 10px;
   max-width:500px;



}

.faceimg-responsive2 {

   width: 420px;
   padding: 20px 20px 40px 40px;
   max-width:1000px;
  





}



.wrapper {
  column-count: 2;
  column-gap: 10px;
  padding: 10px 15px 15px 15px;
}


footer {

position:sticky;
bottom:0;
z-index:2;
}





.active {

  font-weight: bold;
}

.gallery {

 margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.box1{
 margin: 20px 0 20px 0;
  width:45%;
  height:45%;
  background-color: teal;
  position:relative;
}





.box1:hover .text,
.box1 .other-text {

  display:none;
}

.box1:hover .other-text {

  display:block;
}


img {
   width:100%;
  height:100%;
  
}



.text{
  width:100%;
  height:45px;
  padding: 10px 0px; 
  background-color:#007A33;
  text-align: center;
  color:white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight:bold;
  position: absolute;
  z-index: 1;
  top: 70%;
}


.other-text{
  width:100%;
  height:45px;
  padding: 10px 0px; 
  background-color:#007A33;
  text-align: center;
  color:white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight:bold;
  position: absolute;
  z-index: 1;
  top: 70%;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
    font-size: 40px;
    background-color: #007A33;
    color:white;
    position:left;
}



#heading1 {
  animation: fadein 3s;
}
@keyframes fadein {
  from { text-indent: 340px}
  to   { text-indent: 20px}
}


#heading2 {
  animation: fadein 3s;
}
@keyframes fadein {
  from { text-indent: 340px}
  to   { text-indent: 20px}
}


#heading3 {
  animation: fadein 3s;
}
@keyframes fadein {
  from { text-indent: 340px}
  to   { text-indent: 20px}
}

